@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
}
#root{
    .header{
        max-width: 1140px;
        margin: 0 auto;
        .conteiner{
            padding-top: 38px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header_logo{
                display: flex;
                .logo{
                    box-sizing: border-box;
                    background-image: url(../img/logo.png);
                    background-repeat: no-repeat;
                    height: 51px;
                    font-size: 27px;
                    line-height: 32px;
                    font-weight: 300;
                    letter-spacing: 0.025em;
                    color: #222222;
                    padding-left: 72px;
                    display: flex;
                    align-items: center;
                    span{
                        font-weight: 900;
                        color: #f16d7f;   
                    }
                }
                .headerSearch{
                    margin-left: 37px;
                    display: flex;
                    align-items: center;
                    .headerSearch_browse{
                        width: 87px;
                        height: 38px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #cdcdcc;
                        background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
                        border: 1px solid #e6e6e6;
                        border-radius: 3px 0px 0px 3px;
                        font-size: 14px;
                        line-height: 32px;
                        font-weight: 300;
                        letter-spacing: 0.025em;
                        color: #222222;
                        box-sizing: border-box;
                        i{
                            margin-left: 8px;
                        }
                    }
                    .headerSearch_input{
                        height: 38px;
                        padding-left: 16px;
                        background-color: #ffffff;
                        border: none;
                        border-top: 1px solid #e6e6e6;
                        border-bottom: 1px solid #e6e6e6;
                        font-size: 14px;
                        line-height: 32px;
                        font-weight: 300;
                        letter-spacing: 0.025em;
                        color: #a4a4a4;
                        box-sizing: border-box;
                    }
                    .headerSearch_button{
                        height: 38px;
                        width: 36px;
                        color: #a4a4a4;
                        border: 1px solid #e6e6e6;
                        border-radius: 0px 3px 3px 0px;
                    }
                }           
            } 
            .headerAccount{
                margin-left: 349px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                .headerCart{
                    margin-right: 26px;
                    height: 29px;
                }
                .headerAccount_button{
                    width: 130px;
                    background-color: #f16d7f;
                    font-size: 15px;
                    line-height: 32px;
                    font-weight: 400;
                    letter-spacing: 0.025em;
                    color: #ffffff;
                    border: none;
                }    
            }       
        }
    }


    .top_nav{
        margin: 0 auto;
        max-width: 1140px;
        margin-top: 30px; 
        display: flex;
        justify-content: center;
        .top_nav_el{
            height: 51px;
            border-bottom: 3px solid white;
            text-align: center;
            a{
                height: inherit;
                display: block;
                font-size: 14px;
                line-height: 51px;
                font-weight: 700;
                text-transform: uppercase;
                color: #222222;
                text-decoration: none;
            }
            
        }
    }
    .top_nav_el:not(:last-child){
        margin-right: 40px;
    }
    .top_nav_el:hover{
        border-bottom:3px solid #ef5b70;
    }


    .items{
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .goods-list{
            width: inherit;
            margin-top: 60px; 
            display: grid;
            row-gap: 20px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;
            align-self: stretch;
            .items_card{
                max-width: 261px;
                box-shadow: none;
                .items_card_img{
                    position: relative;
                    height: 280px;
                    background-color: #ffffff;
                    img{
                        object-fit: cover;
                    }
                    .items_card_buy{
                        height: inherit;
                        width: 100%;
                        background-color: rgba(58,56,56,0.83);
                        display: none;
                        position: absolute;
                        .button_buy{
                            width: 140px;
                            height: 39px;
                            border: 1px solid #ffffff;
                            font-size: 13px;
                            line-height: 1.2;
                            font-weight: 700;
                            color: #ffffff;
                            background-color: rgba(58,56,56,0.83);
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                        }   
                    }
                }
                .items_card_text1{
                    margin: 18px;
                    font-size: 13px;
                    line-height: 1;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #222222;
                }
                .items_card_text2{
                    margin: 18px;
                    margin-bottom: 21px;
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #f16d7f;
                }
                :hover .items_card_buy{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .items_card:hover{
            box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
        }
    }


    .items{
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .cart_items{
            width: inherit;
            margin-top: 60px; 
            display: grid;
            row-gap: 20px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;
            align-self: stretch;
            .items_card{
                max-width: 261px;
                box-shadow: none;
                .items_card_img{
                    position: relative;
                    height: 280px;
                    background-color: #ffffff;
                    img{
                        object-fit: cover;
                    }
                    .items_card_buy{
                        height: inherit;
                        width: 100%;
                        background-color: rgba(58,56,56,0.83);
                        display: none;
                        position: absolute;
                        .button_deleteFromCart{
                            width: 140px;
                            height: 39px;
                            border: 1px solid #ffffff;
                            font-size: 13px;
                            line-height: 1.2;
                            font-weight: 700;
                            color: #ffffff;
                            background-color: rgba(58,56,56,0.83);
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                        }   
                    }
                }
                .items_card_text1{
                    margin: 18px;
                    font-size: 13px;
                    line-height: 1;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #222222;
                }
                .items_card_text2{
                    margin: 18px;
                    margin-bottom: 21px;
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #f16d7f;
                }
                :hover .items_card_buy{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .items_card:hover{
            box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
        }
    }



    .footer{
        margin-top: 109px;
        .conteiner{
            margin: 0 auto;
            max-width: 1140px;
            margin-bottom: 89px;
            display: flex;
            .logo_footer{
                .logo{
                    box-sizing: border-box;
                    background-image: url(../img/logo.png);
                    background-repeat: no-repeat;
                    height: 51px;
                    font-size: 27px;
                    line-height: 32px;
                    font-weight: 300;
                    letter-spacing: 0.025em;
                    color: #222222;
                    padding-left: 72px;
                    display: flex;
                    align-items: center;
                    span{
                        font-weight: 900;
                        color: #f16d7f;   
                    }
                }
                .footer_text{
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 300;
                    letter-spacing: 0.025em;
                    color: #898989;
                    margin: 41px 64px 41px 0;
                    width: 390px; 
                    > div:not(:last-child){
                        margin-bottom: 30px;
                    }
                }
            }
            .footer_information{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;
                .footer_inf_head{
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 700;
                    letter-spacing: 0.025em;
                    color: #f16d7f;
                }
                .footer_inf_text{
                    font-size: 16px;
                    line-height: 59px;
                    font-weight: 400;
                    letter-spacing: 0.025em;
                    color: #898989;
                }
            }     
        }
        .footer_bottom{
            height: 79px;
            background-color: #e6e6e6;
            .conteiner{
                margin: 0 auto;
                max-width: 1140px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: inherit;
                .cosial{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        width: 32px;
                        height: 32px;
                        background-color: #ffffff;
                        font-size: 16px;
                        line-height: 32px;
                        font-weight: 400;
                        letter-spacing: 0.025em;
                        color: #b2b2b2;
                        text-align: center;
                        :not(:last-child){
                            margin-right: 8px;
                        }
                    }
                    :hover{
                        background-color: #f16d7f;
                        color: #f7f7f8;
                    }
                }
                .copy{
                    font-size: 16px;
                    line-height: 42px;
                    font-weight: 400;
                    letter-spacing: 0.025em;
                    color: #7a7a7a;
                }
            }
        }
    }
}
